@import "_header";

h1 {
	color: aqua;
}

body {
	font-size: 30px;
	div {
		font-size: 10px;
	}
}
.block {
	&__ds {
	}

	&__sda {
	}

	&__sd {
	}
}
.block {
}
.block__ds {
}
.block__sda {
}
.block__sd {
}
.red {
	color: red;
}
@media (max-width: 767px) {
	.red {
		border: 0;
	}
}
